.twzipcode-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%233F4452' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    width: 47.5%;
    padding: .47rem 1.75rem .47rem .8rem;
    font-size: .925rem;
    font-weight: 400;
    line-height: 1.5;
    color: #545965;
    background-color: #fff;
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #e2e5e8;
    border-radius: .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    appearance: none;
    margin-left: .8rem;
}

.main-content {
    min-height: 100vh;
    background-color: #F5F5F5;
}

.twzipcode-hidden{
    display: none;
}

.e04{
    align-items: center;
}

/**>